@import "src/vars.module";

.input {
  height: 38px;
  padding: 0 8px;
  outline: none;
  color: $color-text;
  font-family: monospace;
  font-size: 16px;
  border-radius: 4px;
  background: $color-input-background;
  border: 1px solid $color-input-border;
  transition: border-color 0.1s;
  
  &:hover {
	border-color: $color-input-border-hover;
  }
  
  &:focus {
	border-color: $color-input-border-hover;
  }
  
  &::placeholder {
	color: $color-input-placeholder-text;
  }
}

.copy {
  cursor: pointer;
}
